.DS_Store
*.xcodeproj/*.mode?v?
*.xcodeproj/*.pbxuser
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
build/
Builds/
.idea/

ThirdParty/Opus
ThirdParty/LibreSSL/*
!ThirdParty/LibreSSL/patches
ThirdParty/PJSIP/*
!ThirdParty/PJSIP/patches
.env
